---
layout: layout.hbs
title: DAT
---


<div class="splash">
</div>


<div class="grid">
	<div class="masonry">
		{{#each collections.projects }}
			<div class="project">
				<img src="{{data.image}}">
				<div class="inner">
					<h3>{{data.title}}</h3> 
					<h4>{{data.subtitle}}</h4>
				</div>
			</div>
		{{/each}}
	</div>
</div>


<script>    
    const fadeContainer = document.querySelector('.grid')

    function updateScroll() {
        let scrollPercent = scrollY / (document.body.offsetHeight - innerHeight);
        let fadeIntro = Math.min(Math.min(scrollPercent, 0.5) * 5 + 0.1, 1);
        fadeContainer.style.opacity = fadeIntro;
    }

    addEventListener('scroll', updateScroll);
    addEventListener('load', updateScroll);

    {{!-- AOS.init() --}}
</script>