---
layout: layout.hbs
title: DAT
---


<div class="splash">
</div>


<div class="grid">
	<div class="masonry">
		<div>
			<img src="./project-images/image1.jpeg"/>
		</div>
		<div>
			<img src="./project-images/image2.jpeg" />
		</div>
		<div>
			<img src="./project-images/image3.png" />
		</div>
		<div>
			<img src="./project-images/image4.png" />
		</div>
		<div>
			<img src="./project-images/image5.jpeg"/>
		</div>
		<div>
			<img src="./project-images/image6.jpeg" />
		</div>
		<div>
			<img  src="./project-images/image7.jpeg" />
		</div>
		<div>
			<img src="./project-images/image8.jpeg"/>
		</div>
		<div>
			<img src="./project-images/image9.png"/>
		</div>
		<div>
			<img src="./project-images/image10.jpeg"/>
		</div>
	</div>
</div>


<script>    
    const fadeContainer = document.querySelector('.grid')

    function updateScroll() {
        let scrollPercent = scrollY / (document.body.offsetHeight - innerHeight);
        let fadeIntro = Math.min(Math.min(scrollPercent, 0.5) * 5 + 0.1, 1);
        fadeContainer.style.opacity = fadeIntro;
    }

    addEventListener('scroll', updateScroll);
    addEventListener('load', updateScroll);

    AOS.init()
</script>