---
layout: layout.hbs
title: When
---


<apply-now style="left: 500px; top: 100px; position: absolute"></apply-now>

<main>
    <div class="grid">
        <details>
            <summary>Exhibitions</summary>

            <div class="content" style="grid-column: 4 / span 8;">
                <p>Design Art Technology students learn to shape our technological world in an innovative and artistic
                    way, and use technology for their own artistic expression. By experimenting with new techniques,
                    investigating how our perception changes, and exploring the problems and possibilities of our
                    digital culture, they respond to current questions from society. The program invites students to ask
                    critical questions - sometimes questions that have not been asked before - and to make people think
                    through their work. As a result, they actively contribute to new creative visions of the future.</p>

                <p>Design Art Technology trains a wide spectrum of makers; from designers to autonomous artists. The
                    program focusses on learning to deal with the complexity of our media-technological landscape - in a
                    technical, aesthetic, sociocultural and political sense. As designers and artists, the students of
                    Design Art Technology know how to convert this complexity into critical reflections on, new
                    imaginations of and alternative applications for technological media. They design interactive
                    systems that can take many forms: from websites, videos, (data) visualisations, apps, games and
                    wearables to virtual worlds, machines, instruments and interactive installations. Design Art
                    Technology is therefore a unique study program that challenges its students to shape our new world.
                </p>
            </div>
        </details>

        <details>
            <summary>Agenda</summary>
            <div class="content">
                <p>Design Art Technology students learn to shape our technological world in an innovative and artistic
                    way, and use technology for their own artistic expression. By experimenting with new techniques,
                    investigating how our perception changes, and exploring the problems and possibilities of our
                    digital culture, they respond to current questions from society. The program invites students to ask
                    critical questions - sometimes questions that have not been asked before - and to make people think
                    through their work. As a result, they actively contribute to new creative visions of the future.</p>
            </div>
        </details>
    </div>
</main>
