<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<script src="/script.js" defer></script>
	{{!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> --}}
	{{!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> --}}

	<title>{{ title }} | Design, Art & Technology</title>
</head>


<body data-path="{{page.url}}">
	<nav data-url="">
		<a href="/" class="top-left" style="transform-origin: top left; top: 0; left: 0;">
			DAT
			<ul class="subs">
			</ul>
		</a>
		<a href="/who/" class="top-right" style="transform-origin: top right; top: 0; right: 0;">
			WHO
			<ul class="subs">
				<li>Students</li>
				<li>Teachers</li>
				<li>Alumni</li>
				<li>Contact</li>
			</ul>
		</a>
		<a href="/what/" class="bottom-left" style="transform-origin: bottom left; bottom: 0; left: 0;">
			<ul class="subs">
				<li>Behind the net</li>
				<li>External projects</li>
				<li>Hackathon</li>
				<li>Solidarity</li>
				<li>Transition</li>
				<li>After graduation</li>
				<li>Design and Fine Arts</li>
			</ul>
			WHAT
		</a>
		<a href="/when/" class="bottom-right" style="transform-origin: bottom right; bottom: 0; right: 0;">
			<ul class="subs">
				<li>Agenda</li>
				<li>Exhibitions</li>
			</ul>
			WHEN
		</a>
	</nav>


	{{{content}}}
</body>